%h1= t(".title") 
#main_content
  = form_for @message do |f|
    = render( :partial=>"layouts/errors_messages", :locals => { :target=>@message})
    %ul.form_fields.inline
      %li
        = f.label :name, t(".name") 
        = mark_required(@message, :name)
        %br
        = f.text_field :name
      %li
        = f.label :email, t(".email")
        = mark_required(@message, :email)
        %br
        = f.text_field :email
      %li
        = f.label :content, t(".content")
        = mark_required(@message, :content)
        %br
        = f.text_area :content, :size => "50x10"
    .reset

    %ul.form_params
      %li
        = f.submit t("messages.submit")
#navigation
  = link_to t("back"), :back
  .item
    = t("telephones")
    %br
    +7903-433-95-88
    %br
    +7928-226-27-83
