= form_for @reserf, :html=>{:multipart=>true} do |f|
  = render( :partial=>"layouts/errors_messages", :locals => { :target=>@reserf})
  = hidden_field_tag :room, @room.id
  %ul.form_fields.inline
    %li
      = f.label :name
      = mark_required(@reserf, :name)
      = f.text_field :name
    %li
      = f.label :address
      = mark_required(@reserf, :address)
      = f.text_field :address
    %li
      = f.label :telephone
      = mark_required(@reserf, :telephone)
      = f.text_field :telephone
    %li
      = f.label :list_tourists
      %span.info
        = t(".list_tuorists_notice")
      = mark_required(@reserf, :list_tourists)
      = f.text_area :list_tourists, :size=>"40x10"
  .fields
    = f.label :coming_on
    = mark_required(@reserf, :coming_on)
    %br
    = f.date_select :coming_on, :start_year=>Time.now.year, :end_year=> Time.now.year + 1, :prompt => { :day => t(".select_day"), :month => t(".select_month"), :year => t(".select_year") }
  .fields
    = f.label :outing_on
    = mark_required(@reserf, :outing_on)
    %br
    = f.date_select :outing_on, :start_year=>Time.now.year, :end_year=> Time.now.year + 1, :prompt => { :day => t(".select_day"), :month => t(".select_month"), :year => t(".select_year") }

  %ul.form_fields
    %li
      = f.label :description
      = f.text_area :description, :size=>"40x8"

  %ul.form_params
    %li.inline
      = f.submit
