%h1= t(".title")
#main_content
  - if @reserves.any?
    = render :partial => "reserve", :collection=>@reserves
    = t_will_paginate(@reserves)
  - else
    = t('no_records')
#navigation
  .info{:style=>"padding-top: 5px;"}
    .header
      = t(".info")
    .text
      %span.bold
        = t("reserves.status.draft")
      = t(".info_draft")
    .text
      %span.bold
        = t("reserves.status.sent")
      = t(".info_sent")
    .text
      %span.bold
        = t("reserves.status.adopted")
      = t(".info_adopted")
    .text
      %span.bold
        = t("reserves.status.confirmed")
      = t(".info_confirmed")
    .text
      %span.bold
        = t("reserves.status.paid")
      = t(".info_paid")
