%h1= t(".title")
#main_content
  .item
    = render :partial => "form"
#navigation
  #room_area.item{:style=>"margin-top: 5px;"}
    = reserve_show_prices(@room) if @room
    = "#{ t("offers.price") }: #{number_to_currency @offer.price }" if @offer
  
  .advert
    = t('reserves.discount_info', { :number=>@offer ? @offer.discount : Reserf::DISCOUNT })


