- content_for :maps do
  = render :partial => "maps_header"

%h1
  = t(".title") 
  = "\"#{@hotel.name}\""
#main_content
  .item.padding_3
    = @hotel_map.div(:width => 538, :height => 400).html_safe

#navigation
  = hotel_items
