- content_for :maps do
  = render :partial => "maps_header"

%h1
  = t(".title") 
  = "\"#{@hotel.name}\""
#main_content
  .item
    = @hotel_map.div(:width => 538, :height => 400, :align=>"center").html_safe

  %br
  = render :partial => "form"
#navigation
  = wizzard_steps
