- content_for :maps do
  = render :partial => "maps_header"
= debug @coordinates
%h1
  = t(".title")
  = "\"#{@hotel.name}\""
#main_content
  = render :partial => "map"
  %br
  %i
    = t(".click_for_mark")
  %br
  = render :partial => "form"
#navigation
  = wizzard_steps
