- content_for :maps do
  = render :partial => "maps_header"

%h1
  = t(".title") 
  = "\"#{@hotel.name}\""
#main_content
  = render :partial => "map"
  %br
  = render :partial => "form"
#navigation
  = wizzard_steps
