- content_for :maps do
  = render :partial => "maps_header"

%h1= t(".title") 
#main_content
  - if !@gg_locate.success and !@hotel.coordinate
    .error
      = t('.not_found_hotel_address')
  %br
  = @hotel_map.div(:width => 500, :height => 400).html_safe

#navigation
  = wizzard_steps
