%h1
  = "#{ t(".title") } \"#{@hotel.name}\""
#main_content
  .item
    = t(".contract1")
    %br
    = t(".contract2")
    = link_to "dogovor_agenstvo.doc", "/dogovor_agenstvo.doc"
    %br
    = t(".contract3")
    %br
    %br
    = t(".contract")
    = link_to t(".file") , @hotel.contract.url
    .reset
      %br
      = form_tag(hotel_confirm_path(@hotel), :method=>:put, :multipart=>true) do
        .left
          = file_field_tag :contract
        .right{:style => "width: 31%"}
          = submit_tag t(".confirm")
    .reset



#navigation
  = wizzard_steps
