%h1= @article.title
#main_content
  = @article.body.html_safe

  - if @images.any? 
    #images
      .item
        %p= t(".images")
        %p= render :partial => "shared/images_area", :locals => {:images => @images}

#navigation
  %div= link_to t("back"), :back
  - if can?(:edit, @article)
    %div= link_to t("edit"), edit_article_path(@article), :class => "edit"
    %div= link_to t("destroy"), article_path(@article), :method => :delete, :confirm => t("confirm"), :class => "edit"
