#wizzard
  %br
  = t("hotels.manager.title")
  %div 
    = link_to t("hotels.manager.wait_moderators"), admin_hotels_path
    = "(#{Hotel.draft})"
  %div 
    = link_to t("hotels.manager.order"), order_admin_hotels_path
  %br
  = t("reserves.manager.title")
  %div
    = link_to t("reserves.manager.sent"), admin_reserves_path(:status => 1)
    ="(#{Reserf.sent.count})"
  %div
    = link_to t("reserves.manager.adopted"), admin_reserves_path(:status => 2)
    ="(#{Reserf.adopted.count})"
  %div
    = link_to t("reserves.manager.confirmed"), admin_reserves_path(:status => 3)
    ="(#{Reserf.confirmed.count})"
  %div
    = link_to t("reserves.manager.paid"), admin_reserves_path(:status => 4)
    ="(#{Reserf.paid.count})"
  %div
    = link_to t("reserves.manager.archive"), admin_reserves_path(:status => 5)
    ="(#{Reserf.archive.count})"
  %div
    = link_to t("reserves.manager.canceled"), admin_reserves_path(:status => 6)
    ="(#{Reserf.canceled.count})"
  %br
  = t("offers.manager.title")
  %div
    = link_to t("offers.agents.title"), admin_offer_agents_path
  %div
    = link_to t("offers.admin.menu.title"), admin_offers_path


  
