#footer
  .right{:style=>"padding-top: 5px;"}
    :plain
      <!--LiveInternet counter--><script type="text/javascript"><!--
      document.write("<a href='http://www.liveinternet.ru/click' "+
      "target=_blank><img src='//counter.yadro.ru/hit?t44.10;r"+
      escape(document.referrer)+((typeof(screen)=="undefined")?"":
      ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
      screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
      ";"+Math.random()+
      "' alt='' title='LiveInternet' "+
      "border='0' width='31' height='31'><\/a>")
      //--></script><!--/LiveInternet-->
  .content
    %ul
      %li
        = link_to t("places.navigation"), places_path
      %li
        = link_to t("hotels.navigation"), hotels_path
      %li
        = link_to t("rooms.navigation"), rooms_path
      %li
        = link_to t("info.about_as.navigation"), about_as_path
      %li
        = link_to t("info.support.navigation"), new_message_path
      %li
        = link_to t("info.home.navigation"), "/"


