#footer
  .right{:style=>"padding-top: 5px;"}
    :plain
      <!--LiveInternet counter--><script type="text/javascript"><!--
      document.write("<a href='http://www.liveinternet.ru/click' "+
      "target=_blank><img src='//counter.yadro.ru/hit?t44.10;r"+
      escape(document.referrer)+((typeof(screen)=="undefined")?"":
      ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
      screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
      ";"+Math.random()+
      "' alt='' title='LiveInternet' "+
      "border='0' width='31' height='31'><\/a>")
      //--></script><!--/LiveInternet-->

      <!-- Yandex.Metrika informer -->
      <a href="http://metrika.yandex.ru/stat/?id=5785843&amp;from=informer"
      target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/5785843/1_1_FFFFF5FF_FFEFD5FF_0_pageviews"
      style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" /></a>
      <!-- /Yandex.Metrika informer -->

      <!-- Yandex.Metrika counter -->
      <div style="display:none;"><script type="text/javascript">
      (function(w, c) {
          (w[c] = w[c] || []).push(function() {
              try {
                  w.yaCounter5785843 = new Ya.Metrika(5785843);
                   yaCounter5785843.clickmap(true);
                   yaCounter5785843.trackLinks(true);
              
              } catch(e) { }
          });
      })(window, 'yandex_metrika_callbacks');
      </script></div>
      <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
      <noscript><div><img src="//mc.yandex.ru/watch/5785843" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
      <!-- /Yandex.Metrika counter -->
  .content
    %ul
      %li
        = link_to t("info.about_as.navigation"), about_as_path
      %li
        = link_to t("info.to_owners.navigation"), to_owners_path
      %li
        = link_to t("info.support.navigation"), new_message_path
      %li
        = link_to t("info.requisites.navigation"), requisites_path 
      %li
        = link_to t("info.home.navigation"), "/"


