#navigation_tab
  %ul
    %li{:class=>set_current_style("places", "places/images")}
      = link_to t("places.navigation"), places_path
    %li{:class=>set_current_style("hotels", "hotels/images", "hotels/maps", "hotels/rooms", "hotels/confirms")}
      = link_to t("hotels.navigation"), hotels_path
    %li{:class=>set_current_style("rooms")}
      = link_to t("rooms.navigation"), rooms_path
    %li{:class=>set_current_style("offers")}
      = link_to t("offers.navigation"), offers_path
    %li{:class=>set_current_style("articles", "places/articles", "hotels/articles")}
      = link_to t("articles.navigation"), articles_path

    -if current_user
      -if current_user.admin?
        %li{:class=>set_current_style("dynamic_models", "dynamic_fields")}
          = link_to t("dynamic_fields.navigation"), dynamic_models_path 
