%h1= t(".choice_of_users")
#main_content
  = "#{ t("rooms.navigation") }:"
  = render :partial => "rooms/room", :collection => @rooms

  .reset{:style => "padding-top: 10px;"}
  = "#{t("offers.navigation")}:"
  = render :partial => "offers/offer", :collection => @offers
#navigation
  #article_home
    %b
      = t(".last_articles")
    %br
    = render :partial => "article", :collection => @articles


    :plain
      <div style="margin-top: 10px;">
      <script type="text/javascript" src="http://www.biglion.ru/general/js/partnership.js.php?utm_source=p"></script> <script type="text/javascript">if(Biglion&&Biglion.getBanner180x250){document.write(Biglion.getBanner180x250("", "3511030"));}</script>
      </div>

