= form_for [@hotel, @room], :html=>{:multipart=>true} do |f|
  = render( :partial=>"layouts/errors_messages", :locals => { :target=>@room})
  %ul.form_fields 
    %li
      = f.label :title
      = f.text_field :title
    %li
      = f.label :places
      = f.select :places, Room.places
    %li
      = f.label :room_number
      = f.select :room_number, Room.rooms, { :include_blank => true }
    %li
      = f.label :shower
      = f.select :shower, Room.shower, { :include_blank => true }
    %li
      = f.label :toilet
      = f.select :toilet, Room.toilet, { :include_blank => true }
    %li
      = f.label :fridge
      = f.select :fridge, Room.fridge, { :include_blank => true }
    %li
      = f.label :tv
      = f.select :tv, Room.tv, { :include_blank => true }
  %ul.form_params
    %li
      %br
      %b
        = t('.dynamic_fields')
      -for field in @dynamic_fields
        %li  
          = check_box_tag("fields[#{field.permalink}]", "1", (!@room.new_record? and @room.dynamic_fields.include?(field)) ? true : false)
          = label_tag "fields[#{field.permalink}]", field.title



  %ul.form_params
    %li.title
      = t('.photos')
    - ( 5 - @room.images.count).times do |time|
      %li
        = file_field_tag "images[]"
    %li
      #room_images_id
        = render :partial => "form_images"

  %ul.form_fields
    %li.title
      = t(".price")
    %li.info
      = t(".price_info").html_safe
      - i=1
      = f.fields_for :prices  do |price|
        %li.double
          %div{:class=>cycle("even", "odd"), :style=>"overflow: hidden; width: 50%; padding-left: 5px;"}
            .first
              = price.hidden_field :month
              = "#{ I18n.t("date.standalone_month_names")[i] }:"
            .second{:style=>"width: 70%"}
              = price.text_field :cost, :size=>10
              = t("rur")
              - i += 1


  .reset

  %ul.form_params
    %li
      = f.submit
