%h1
  = t(".title")
  = "\"#{@hotel.name}\"" if @hotel
#main_content
  - if @hotel and can?(:update, @hotel)
    .right_side
      = link_to t(".new"), new_hotel_room_path(@hotel) 
      |
      = link_to t("next"), edit_hotel_confirm_path(@hotel)
      %br
      %br
  #room_area
    - if @rooms.any?
      = render :partial=>"room", :collection=>@rooms
    - else
      = t("no_records")
#navigation
  - if @hotel
    - if can?(:update, @hotel)
      = wizzard_steps 
    - else
      = hotel_items
  - else
    
