%h1= human_room_data @room.places, Room.places

#main_content
  #room_area
    .item
      .left.padding_5
        = js_image_tumb(@images)
      .left.padding_5
        %span.title= t("rooms.room.options")
        %br
        = human_room_data(@room.room_number, Room.rooms)
        = human_room_data(@room.shower, Room.shower)
        = human_room_data(@room.toilet, Room.toilet)
        = human_room_data(@room.fridge, Room.fridge)
        = human_room_data(@room.tv, Room.tv)
      - if @room.dynamic_fields.any?
        .left.padding_5
          %span.title= t("rooms.room.add_options")
          %br
          - @room.dynamic_fields.each do |field|
            = field.title
            %br
      .right.padding_5{:style=>"width: 150px"}
        %span.title= t(".min")
        = @room.min_price
        = t("rur")
        %br
        %span.title= t(".max")
        = @room.max_price
        = t("rur")
        .space
        = link_to t("rooms.room.reserve"), new_room_reserf_path(@room.id)

      .reset

      %span.title= t("rooms.room.price")
      %table{:align=>"center"}
        %tr{:class=>"header"}
          -@room.prices_first_half.each_with_index do |price, idx|
            %td{:width=>"80px", :class=>"padding_left_5"}
              = "#{ I18n.t("date.standalone_month_names")[ price.month ] }:"
        %tr
          -@room.prices_first_half.each_with_index do |price, idx|
            %td
              = show_price(price.cost) 
      %br
      %table{:align=>"center"}
        %tr{:class=>"header"}
          -@room.prices_second_half.each_with_index do |price, idx|
            %td{:width=>"80px", :class=>"padding_left_5"}
              = "#{ I18n.t("date.standalone_month_names")[ price.month ] }:"
        %tr
          -@room.prices_second_half.each_with_index do |price, idx|
            %td
              = show_price(price.cost) 

      %br
      -if @images.any?
        .title= t(".photos")
        = render :partial => "shared/images_area"
      -else
        .title=t('no_images')
  
    - if @hotel.rooms_exept(@room).any?
      = t(".another_rooms")
      = render :partial => "room", :collection=>@hotel.rooms_exept(@room)
#navigation
  = link_to t("back"), hotel_rooms_path(@hotel)
  %br
  - if can?(:update, @room)
    = link_to t("edit"), edit_hotel_room_path(@room.hotel.id, @room.id), :class=>"edit"
    %br
    = link_to t("destroy"), hotel_room_path(@hotel.id, @room.id), :method=>:delete, :class=>"edit", :confirm=>t("confirm")

