.item
  .left
    = link_to hotel.name, hotel_path(hotel.id) 
    = "(#{  link_to( hotel.place.title, place_path(hotel.place), :class=>"edit" )})".html_safe
  .right{:style=>"width: 200px"}
    .title
      = "#{ t("activerecord.attributes.hotel.distance") } #{ Hotel.distance_options.select{|k,v| v==hotel.distance }.first.first } "
  .reset{:style=>"padding-top: 3px;"}
  .right{:style=>"width: 115px; padding-top: 10px; padding-left: 10px;"}
    = link_to t("hotels.add.rooms"), hotel_rooms_path(hotel)
    %br
    = link_to t("hotels.add.images"), hotel_images_path(hotel)
    %br
    = link_to t("hotels.map"), hotel_maps_path(hotel)
    %br
    = link_to t("further"), hotel_path(hotel)
  .left
    = hotel_thumb( hotel )
  .left{:style=>"width: 335px; padding-left: 10px;"}
    .title= t("activerecord.attributes.hotel.description")
    = truncate(hotel.description, :length=>250)
 
