%h1= t('.title')

= t("quick_search")
= form_tag quick_search_places_path, :method => :get  do
  = autocomplete_field 'title', '', autocomplete_place_title_places_path
  = submit_tag(t("go_to"))

#places
  - @places.each do |place_root|
    - if can?(:edit, Place)
      .place_title
        = link_to place_root.title, place_path(place_root), :class=>"title_header"
        %br
        -if can?(:edit, Place)
          = link_to t('edit'), edit_place_path(place_root)

        -if can?(:delete, Place)
          = link_to t('destroy'), place_root, :confirm => t('confirm'), :method => :delete
    - elsif not place_root.draft?
      .place_title
        = link_to place_root.title, place_path(place_root), :class=>"title_header"

    - place_root.children.in_groups_of(3, false) do |group|
      -group.each do |place|
        -if can?(:edit, Place)
          %div
            %ul{:style=>"float:left"}
              %li{:class=>draft_record?(place), :title=>place.draft ? t('.draft') : nil}
                = link_to place.title, place_path(place), :class=>"title"
                %br
                -if can?(:edit, Place)
                  = link_to t('edit'), edit_place_path(place)

                -if can?(:delete, Place)
                  = link_to t('destroy'), place, :confirm => t('confirm'), :method => :delete
                -if place.children
                  %ul
                    - place.children.each do |child|
                      - if can?(:edit, Place)
                        %li{:class=>"child #{draft_record?(child)}", :title=>child.draft ? t('.draft') : nil}
                          = link_to child.title, place_path(child)
                          %br
                          -if can?(:edit, Place)
                            = link_to t('edit'), edit_place_path(child)

                          -if can?(:delete, Place)
                            = link_to t('destroy'), child, :confirm => t('confirm'), :method => :delete
                      - elsif not child.draft?
                        %li{:class=>"child"}
                          = link_to child.title, place_path(child)
        - elsif not place.draft?
          %div
            %ul{:style=>"float:left"}
              %li{:class=>draft_record?(place), :title=>place.draft ? t('.draft') : nil}
                = link_to place.title, place_path(place), :class=>"title"
                %br
                -if place.children
                  %ul
                    - place.children.each do |child|
                      - if can?(:edit, Place)
                        %li{:class=>"child #{draft_record?(child)}", :title=>child.draft ? t('.draft') : nil}
                          = link_to child.title, place_path(child)
                          %br
                          -if can?(:edit, Place)
                            = link_to t('edit'), edit_place_path(child)

                          -if can?(:delete, Place)
                            = link_to t('destroy'), child, :confirm => t('confirm'), :method => :delete
                      - elsif not child.draft?
                        %li{:class=>"child"}
                          = link_to child.title, place_path(child)
      .reset




-if can?(:create, Place)
  %div{:style=>"clear:both"}
    %p= t('.new_place_info')
    %p= link_to t('.new_place'), new_place_path


