- content_for :maps do
  = render :partial => "maps_header"
%h1
  = t '.title'
  = @place.title

#main_content
  - if !@gg_locate.success and !@place.coordinate
    .error
      = t('.not_found_place')
  .item.padding_3
    = @place_map.div(:width => 572, :height => 400).html_safe
  - if can?(:edit, Place)
    = render :partial => "places/maps/form"
    %br
  - if @place.hotels.public_items.any?
    .title
      = t("hotels.navigation")
    = render :partial => "hotels/hotel", :collection=>@place.hotels.public_items

  %br
  -#статьи итп
  - if @place.dynamic_fields.any?
    .title
      = t("add_params")
    .item.padding_5
      - @place.dynamic_fields.each do |field|
        = field.title
        %br


  -#if can? :create, Image
    %div
      %span.ele_notice
        = t('places.images.form.notice')
      = render :partial => "places/images/form"


  -#if @images.any?
    .text1
      =t('.images')
      = @place.title

    %p
      %b
        =t('.total_images')
      = @place.images_count


    #images_area
      = render :partial => "places/images/image_area"
  -#else
    %p
      =t('.no_images')




#navigation
  - if can?(:edit, Place)
    %br
    = link_to t('edit'), edit_place_path(@place)

-#%script
  //<![CDATA[
  $("a[rel=img_group]").fancybox({
  'transitionIn'	:	'elastic',
  'transitionOut'	:	'elastic',
  'speedIn'		:	600,
  'speedOut'		:	200,
  'overlayShow'	:	false
  });

  //]]>

