!!!
%html
  %head
    %title Catalogue Of Hotels
    = stylesheet_link_tag "application", "master", "jquery-ui-1.8.5.custom", "tipTip"
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.tipTip.minified.js"

    = csrf_meta_tag
    = yield :maps
  %body
    #body
      = render :partial=>"layouts/users_login_register"
      #logo Catalog Of Hotels
      = render :partial=>"shared/navigation_tab"
      #content
        = flashes
        = yield
