!!!
%html
  %head
    %title 
      CoastSun.Ru 
      = ":: #{render_breadcrumbs(:no_html=>true, :separator => ' / ', :full=>true).html_safe}" if render_breadcrumbs(:full=>true).present?
    = stylesheet_link_tag "application", "master", "jquery-ui-1.8.5.custom", "tipTip"
    = stylesheet_link_tag "/fancybox/jquery.fancybox-1.3.3.css"
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.tipTip.minified.js"
    = javascript_include_tag "/fancybox/jquery.fancybox-1.3.3.pack.js"
    = javascript_include_tag "/fancybox/jquery.easing-1.3.pack.js"
    = csrf_meta_tag
    = yield :maps
  %body
    #body
      = render :partial=>"layouts/users_login_register"
      #logo CoastSun.Ru 
      = render :partial=>"shared/navigation_tab"
      #content
        #breadcrambs
          = render_breadcrumbs().html_safe
        = flashes
        = yield
    = render :partial => "layouts/tooltips"
